body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 40vh;
    margin: 0;
    text-align: center;
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-size:50px;
    font-weight:bold;
    color:#F0DB4F;
    transition: 0.5s;
    position: relative;
    z-index: 3;
    
    height:38px;
        position:absolute;
        top:20%;
        margin-top:-19px
  }

h1 {
    font-size:50px;
    font-weight:bold;
    color:#F0DB4F;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

p {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 4px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

  }

.btn-1
{
  width: 75px;
  height: 25px;
  position: relative;
  border: none;
  color: white;
  background-color: rgb(24, 157, 60);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #F0DB4F;
  transition: ease-out 0.3s;
  font-size: 20px;
  outline: none;
}

.btn-1:hover
{
  box-shadow: inset 75px 0 0 0 #F0DB4F;
  cursor: pointer;
  color: #000;
}

.btn-2
{
  width: 75px;
  height: 25px;
  position: relative;
  border: none;
  color: white;
  background-color: rgb(24, 157, 60);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #F0DB4F;
  transition: ease-out 0.3s;
  font-size: 20px;
  outline: none;
}

.btn-2:hover
{
  box-shadow: inset 75px 0 0 0 #F0DB4F;
  cursor: pointer;
  color: #000;
}

.btn-3
{
  width: 75px;
  height: 25px;
  position: relative;
  border: none;
  color: white;
  background-color: rgb(24, 157, 60);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #F0DB4F;
  transition: ease-out 0.3s;
  font-size: 20px;
  outline: none;
}

.btn-3:hover
{
  box-shadow: inset 75px 0 0 0 #F0DB4F;
  cursor: pointer;
  color: #000;
}

#Matrix
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (min-aspect-ratio: 16/9)
{
  .Matrix{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9)
{
  .Matrix{
    width: auto;
    height: 100%;
  }
}